 *{
    margin: 0;
    padding: 0;
    
    outline: none;
    font-family: "Poppins", sans-serif;
 box-sizing:content-box;
}

  /* Responsive */


  /* Ajuste para telas menores, em retrato */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
      transform-origin: center;
      overflow: hidden; /* Evita a rolagem da página */
    }
   
    
  }
  
  /* Ajuste para modo paisagem */
  @media only screen and (max-height: 360px) and (orientation: landscape) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;/* Nenhuma rotação necessária no modo paisagem */
      
    }

    /* .container{
        width: 80%;
        height: 70%;
       } */
   
  }
  