 *{
    margin: 0;
    padding: 0;
    
    outline: none;
    font-family: "Poppins", sans-serif;
 box-sizing:content-box;
}

  /* Responsive */


  /* Ajuste para telas menores, em retrato */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      
      transform-origin: center;
      overflow: hidden; /* Evita a rolagem da página */
    }

    .container {
      transform: rotate(90deg);
      
      width: 35rem;
      height: auto; 
  }
   
  
  }
  
  /* Ajuste para modo paisagem */
  @media only screen and (max-height: 375px) and (orientation: landscape) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
     
    }

    .containerDoContainer{

      display: flex;
      justify-content:center;
      align-items: center;
     
      max-width: 80%;
      max-height: 80%;
      padding: 7%; 
     

  }

    
  }
